/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
   margin-top: $base__space-unit * 2;
}

.logo {
   img {
      display: block;
      margin: 0 auto;
      width: 700px;
   }
}
